/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SMOOTH SCROLL */
html{
    scroll-behavior: smooth;
}

/* BODY */
body{
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */
nav{
    width: 100%;
    padding: 20px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;

    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);

    z-index: 1000;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: #38bdf8;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu a:hover{
    color: #38bdf8;
}

/* HERO */
.hero{
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10%;
}

.hello{
    color: #38bdf8;
    margin-bottom: 15px;
    font-size: 18px;
}

.hero-text h1{
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.desc{
    color: #cbd5e1;
    line-height: 1.8;
    max-width: 550px;
    margin-bottom: 35px;
}

/* BUTTON */
.btn{
    display: inline-block;

    padding: 14px 30px;

    background: linear-gradient(
        135deg,
        #38bdf8,
        #7c3aed
    );

    color: white;
    text-decoration: none;

    border-radius: 12px;

    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-5px);
}

/* IMAGE */
.hero-image img{
    width: 350px;

    border-radius: 25px;

    box-shadow:
    0 0 40px rgba(56,189,248,0.4);

    animation: floating 4s ease-in-out infinite;
}

/* FLOATING IMAGE */
@keyframes floating{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }

}

/* SECTION */
section{
    padding: 120px 10%;
}

/* ABOUT */
.about-box{
    background: rgba(255,255,255,0.05);

    padding: 50px;

    border-radius: 25px;

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.1);
}

.about h2,
.contact h2{
    text-align: center;

    font-size: 45px;

    margin-bottom: 40px;

    color: #38bdf8;
}

.about-box p{
    line-height: 2;
    color: #cbd5e1;
    text-align: center;
}

/* CONTACT */
.contact-box{
    background: rgba(255,255,255,0.05);

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    line-height: 2.5;

    border: 1px solid rgba(255,255,255,0.1);
}

/* FOOTER */
footer{
    text-align: center;

    padding: 30px;

    color: #94a3b8;
}

/* RESPONSIVE */
@media(max-width: 992px){

    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 50px;
        padding-top: 120px;
    }

    .hero-text h1{
        font-size: 45px;
    }

    .hero-image img{
        width: 260px;
    }

    .menu{
        gap: 15px;
    }
}