/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, sans-serif;

    /* Background aesthetic gradasi */
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);

    color: white;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    /* Navbar glass effect */
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover{
    color: #38bdf8;
}

/* HOME */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 80px;

    background: transparent;
}

.home-kiri{
    width: 50%;
}

.home-kiri h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.home-kiri p{
    width: 80%;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #dbeafe;
}

.btn{
    text-decoration: none;
    color: white;

    background: linear-gradient(135deg, #38bdf8, #6366f1);

    padding: 12px 24px;
    border-radius: 8px;

    display: inline-block;
    margin-top: 10px;

    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    opacity: 0.9;
}

.home-kanan img{
    width: 250px;
    height: auto;
}

/* ABOUT */
.about{
    text-align: center;

    background: rgba(255,255,255,0.05);

    padding: 70px 100px;

    backdrop-filter: blur(8px);
}

.about h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.about p{
    line-height: 1.8;
    margin-bottom: 30px;

    color: #dbeafe;
}

.sosial a{
    text-decoration: none;

    background: linear-gradient(135deg, #38bdf8, #6366f1);

    color: white;

    padding: 10px 20px;
    margin: 10px;

    border-radius: 8px;

    transition: 0.3s;
}

.sosial a:hover{
    transform: scale(1.05);
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;

    background: rgba(255,255,255,0.08);

    color: #e2e8f0;
}
